 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
#dark-mode-pic{
    width: 2rem;
    height: 2rem;
}
body{
    display: flex;    
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}
section{

    flex: auto;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: black;
    flex: auto; 
    min-width: 100vh;
    padding: 0.5rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
/* 
 body section nav .dark-mode{
    padding-left: 40px;
}  */

.container{
    box-sizing: border-box;
    flex: auto;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    height: 100%;
    align-items: center;
    background-image: url('https://source.unsplash.com/1900x800/?landscape');
    
}
.card{
    padding: 1.5rem;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: #000000d0;
    color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
}
.search-box{
    padding-left: 2rem;
    flex: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.Location-box{
    margin-left: -2em;
}
.bx-search{
    width: 2rem;
    height: 2rem;
}
.input{
    flex: auto;
    min-width: 65%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: aliceblue;
    border: none;
    font-size: 120%;
    width: calc(100%-100px)

}
.search-button{
    max-width: 3rem;
    margin-left: 1rem;
    flex: auto;
    background-color: #000000f8;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 0.3rem 0.3rem 0.4rem 0.5rem;
    border-radius: 30px;
}
button:hover{
    background-color: #aea1a180;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
.weatherStatus, .humidBox, .windBox, .tempBox{
    flex: auto;
    display: flex;
    align-items: center;
}
.humidBox, .windBox{
    margin-left: 1em;
    gap: 1em;
    margin: 1em;
}
h2.temp{
    margin: 0;
    margin-bottom: 0.4em;
}
.weather.loading{
    visibility: hidden;
    max-height: 40px;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    margin: 20px;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
    margin-bottom: 2em;
}
.weatherOther{
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}